*{
            
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    

}
.wrapper{
    text-align: center;
    border: 8px solid turquoise;
    padding: 30px;
    margin: 20px 150px;
}
.image{
   background-color: black;
   background-position: center;
   
   background-size: contain;
   position: relative;
  text-align: center;
}
.content{
    text-align: center;
    background-color: azure;
}
.head{
    padding-top: 10px;
    font-size: 35px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8px;
}
.image1{
    width: 90%; /*  we created the .image class for new*/
    height: -10%;
}

