{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="{% static 'css/fund.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fund</title>
</head>
<body>
    
<form action="/addamt" method="post">
    {%csrf_token%}    
<div class="container">
    
    <div class="brand-title">Cfund</div>
    <div class="inputs">
      <label>Name</label>
      <input name="funder" type="text" placeholder="name" required="required">
      <label>City you want to donate</label>
      <input name="city" type="text" placeholder="Hubli/banglore/manglore/dharwad" />
      <label>Amount</label>
      <input  name="amount" type="number" placeholder="In Rupees" />
      <button type="submit" ><a href="/addamt"></a> Donate</button>
    </div>
    
</div>
</form>


</body>
</html>