{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>

    <!-- this link is sreting for checking the file in the normal server-->
    <link rel="stylesheet" href="/gfg/static/css/style.css">
  
    
   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>
        
    </style>
</head>
<body>
    <div class="wrapper">
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message:</strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span> </button>
    </div>
    {% endfor %}

    <h3>Welcome to Cfund</h3>

    {% if user.is_authenticated  %}
    <h3>Hello {{ fname }}</h3>
    <h4>you are succesfully loged in</h4>
    <button type="submit" class="signout"><a href="/signout">signout</a> </button>

{% else %}
    <button type="submit"class="signup"><a href="/signup">signup</a> </button>
      
    <button type="submit"class="signin"><a href="/signin">signin</a> </button>
    {% endif %}
      
</div>


<!-- now we are creting the some paragraph-->
<!-- we are changing here-->
<div class="content">
    <img src="{% static 'img/index1.jpg' %}" alt="happy" class="image1">
    <h2 class="head">Find it first on Cfund.</h2>
    <p>Cfund is where early adopters and innovation seekers find lively, imaginative tech before it hits the mainstream.</p>
</div>
    
</body>
</html>