<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign in</title>

    <!-- this link is sreting for checking the file in the normal server-->
    <link rel="stylesheet" href="/gfg/static/css/style.css">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">

   

</head>
<body>

    <div class="wrapper">
    
    <h3>Sign in</h3>

    <form action="/signin" method="post">
    {% csrf_token %}  

        <label for="">Username</label>
        <input type="text" id="username" name="username" placeholder="Create a username (only letters and numbers" required>
        <br>
        <label for="">Password</label>
        <input type="password" id="Pass1" name="Pass1" placeholder="Enter your Password" required>
        <br>
        <button type="submit">Sign In</button>

    </form>
</div>

<!--for some innovation-->


<!--ends here innovat-->
</body>
</html>